@model Identity_Demo.Shared.Models.LoginUser

<form asp-action="Login">
    <div class="form">
        <label>Username:</label>
        <input type="text" class="form-control" asp-for="Username" />
    </div>
    <div class="form">
        <label>Password:</label>
        <input type="password" class="form-control" asp-for="Password" />
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>

<p>@ViewBag.Message</p>